<div class="page">
 <div class="jumbotron">
   <h1>HoseoDonation</h1>
 </div>
 <div class="intro">
   <div class="container">
   <br><br><br><br><br>
   <h1>  다양한 우리가 모여</h1>
   <h1>  함께 더 나은 세상을 만듭니다</h1><br>
   <h4>  우리는 도전하는 기업이 사람들의 지지를 받고</h4>
   <h4>  성장할 수 있도록 돕는 크라우드펀딩 플랫폼입니다.</h4><br><br><br><br>
     </div>
   </div>

 <div class="container">
   <div class="mainbg">
     <br><br><br>

     <!--introduce-->

     <div class="introduce">
       <div class="row">
         <div class="intro-text1 col-md-6">
           <h2>와디즈에서는 누구나 투자받고</h2>
           <h2>투자하면서 함께 성장합니다.</h2>
         </div>
         <div class="col-md-6">
           <h4>사람들은 자신이 지지하는 기업에 투자합니다.</h4>
           <h4>한 사람 한 사람의 투자가 모여 </h4>
           <h4>기업은 성장합니다. </h4>
           <h4>여기, 기업 하나가 출발선에 있습니다. </h4>
           <h4>그는 자신의 가치를 증명하고 </h4>
           <h4>사람들이 그의 가치를 알아봅니다. </h4>
           <h4>서로 지지하고 소통하고 공유하면서 </h4>
           <h4>더 많은 사람들이 그를 알아봅니다. </h4>
           <h4>그렇게 기업은 성장합니다. </h4>
           <h4>또 다른 기업들이 용기를 얻고 출발선에 섭니다.</h4>
         </div>
       </div>
     </div>
 </div><br><br><br>

 <!--statistic title-->
 <div class="row">
   <div class="st-title1 col-md-3">
       <img src=".\assets\images\st3.png" alt="..." class="img-rounded">
           <p class="text-center">총 후원 금액</p>
           <h3 class="text-center">1,849,476,819 원</h3>
   </div>
   <div class="st-title2 col-md-3">
     <img src=".\assets\images\st3.png" alt="..." class="img-rounded">
         <p class="text-center">총 후원 금액</p>
         <h3 class="text-center">1,849,476,819 원</h3>
 </div>
   <div class="st-title3 col-md-3">
       <div class="thumbnail">
           <img src=".\assets\images\st1.PNG" alt="#">
           <p class="text-center">총 후원 금액</p>
           <h3 class="text-center">1,849,476,819 원</h3>
       </div>
   </div>
   <div class="st-title4 col-md-3">
       <div class="thumbnail">
           <img src=".\assets\images\st1.PNG" alt="#">
           <p class="text-center">총 후원 금액</p>
           <h3 class="text-center">1,849,476,819 원</h3>
       </div>
   </div>
 </div>
 </div>
</div>
