<!--category-->
<div class="category-container">
  <div class="col-sx-12 text-center">
    <a href="#" class="img-circle" >
      <img src=".\assets\images\black.jpg" alt="#">
    </a>
    <a href="#" class="img-circle" >
      <img src=".\assets\images\black.jpg" alt="#">
    </a>
    <a href="#" class="img-circle" >
      <img src=".\assets\images\black.jpg" alt="#">
    </a>
    <a href="#" class="img-circle" >
      <img src=".\assets\images\black.jpg" alt="#">
    </a>
    <a href="#" class="img-circle" >
      <img src=".\assets\images\black.jpg" alt="#">
    </a>
    <a [routerLink]="['/','','']">
      <img src=".\assets\images\black.jpg" alt="#">
    </a>
  </div>
</div><br><br>


<!--campaign card-->
<section class="container">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <h3>전체보기</h3>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">

          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">전체<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">진행중</a></li>
                <li><a href="#">종료된</a></li>
              </ul>
            </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">추천순<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">인기순</a></li>
            <li><a href="#">펀딩액순</a></li>
            <li><a href="#">마감임박순</a></li>
            <li><a href="#">최신순</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->


  <hr>
  <!--main-->
  <div class="row mb-5 text-center my-3">
    <div class="col-md-4">
      <a [routerLink]="['/','campaign','detail']" class="thumbnail">
        <img src=".\assets\images\cat1.jpg" alt="#">
      </a>
        <div class="caption">
          <h3>"내가 달리는 이유"</h3>
          <p>지난 10년간 계속되어 온 끝없는 도전은 오늘도 계속 진행형입니다.</p>
          <p>D-50</p>
          <div class="progress">
            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
              <span class="sr-only">45% Complete</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <a href="" class="thumbnail">
          <img src=".\assets\images\cat1.jpg" alt="#">
          </a>
          <div class="caption">
            <h3>"생명사랑 걷기축제"</h3>
            <p>를 개최하여 '생명 존중 문화' 확산을 위한 자살 예방 캠페인을 진행하였습니다.</p>
            <p>D-50</p>
            <div class="progress">
              <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                <span class="sr-only">45% Complete</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <a href="" class="thumbnail">
            <img src=".\assets\images\cat1.jpg" alt="#">
            </a>
            <div class="caption">
              <h3>캠페인1</h3>
              <p>캠페인 설명</p>
              <p>D-50</p>
              <div class="progress">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                  <span class="sr-only">45% Complete</span>
                </div>
              </div>
            </div>
          </div>
    </div>
  <div class="row mb-5 text-center my-3">
    <div class="col-md-4">
      <a href="" class="thumbnail">
        <img src=".\assets\images\cat1.jpg" alt="#">
        </a>
        <div class="caption">
          <h3>캠페인1</h3>
          <p>캠페인 설명</p>
          <p>D-50</p>
          <div class="progress">
            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
              <span class="sr-only">45% Complete</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <a href="" class="thumbnail">
          <img src=".\assets\images\cat1.jpg" alt="#">
          </a>
          <div class="caption">
            <h3>캠페인1</h3>
            <p>캠페인 설명</p>
            <p>D-50</p>
            <div class="progress">
              <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                <span class="sr-only">45% Complete</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <a href="" class="thumbnail">
            <img src=".\assets\images\cat1.jpg" alt="#">
            </a>
            <div class="caption">
              <h3>캠페인1</h3>
              <p>캠페인 설명</p>
              <p>D-50</p>
              <div class="progress">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                  <span class="sr-only">45% Complete</span>
                </div>
              </div>
            </div>
          </div>
    </div>
</section>
